$font-stack: Arial, Helvetica, sans-serif;
$light-color: rgb(187, 124, 8);
$primary-color: #e22454;
$secondary-color: #1c74ff;
$tertiary-color: #050505;
$quartenary-color: antiquewhite;
$ash-color: #d4d4d4;
